<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>关于我们</title>
</head>

<body>
  <div id="app">
    #include("../../../components/header.html")
    <div class="wrapper">
      <!--#####start#####-->
      <div class="tutorials">
        <div class="tutorials-content">
          <div class="channel1">
            <div class="channel1-content">
              <h1>关于我们</h1>
              <h3>中国领先的营销科技公司</h3>
              <a href="javascript:;" @click="function(){$root.$emit('toggleApplyModal', true,'欢迎马上申请','落地页-关于我们-5815582')}">马上申请</a>
            </div>
          </div>
          
          <div class="channel2">
            <div class="channel2-content">
              <h3>公司简介</h3>
              <div class="channel2-img">
                <img src="../../../images/footerMenu/about/summary.png" alt="">
                <p>31会议成立于2010年，以科技成就卓越营销为使命，陆续推出会议云、互动云、营销云三朵云，截止2016年底服务近30万家企业、130多万场会议。公司总部位于上海，全国有15个分支机构。</p>
              </div> 
              <div class="line-point"><span></span><img src="../../../images/footerMenu/service/point.png" alt=""></div>
            </div>   
          </div>

          <div class="channel3">
            <div class="channel3-content">
              <h3>31产品</h3>
              <div class="channel3-img">
                <ul>
                  <li>
                    <img src="../../../images/footerMenu/about/cloud1.png" alt="">
                    <div class="channel3-font">
                      <h3>会议云：</h3>
                      <p>运用互联网、物联网等技术，聚合了线下活动全流程中涉及到的所有技术，实现线下活动的一站式全流程数字化运营，并将其组件化、流程化，让不懂技术的营销人能够自如的自助使用。</p>
                    </div>
                  </li>
                  <li>
                    <img src="../../../images/footerMenu/about/cloud2.png" alt="">
                    <div class="channel3-font">
                      <h3>互动云：</h3>
                      <p>运用互联网云端技术，聚合了线上线下活动涉及的标准互动技术，并将其组件化、流程化，实现选择互动对象、挑选互动工具、制作互动内容、互动执行、互动监测、现场三屏联动，全流程一站完成。</p>
                    </div>
                  </li>
                  <li>
                    <img src="../../../images/footerMenu/about/cloud3.png" alt="">
                    <div class="channel3-font">
                      <h3>营销云：</h3>
                      <p>即31美加（31Marketing+），定位为市场运营部的自动化营销工作系统。 31美加集成了客户管理、邮件、短信、微信、活动、H5、表单、微站、自动化营销、数据报表、权限管理等11个营销技术，并将其模块化、流程化、可视化、易操作。实现选择营销对象、选择营销工具、制作营销内容、确定沟通渠道、执行发送、监测数据，全流程一站完成。</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="line-point"><span></span><img src="../../../images/footerMenu/service/point.png" alt=""></div>
            </div>
          </div>

          <div class="channel4">
            <div class="channel4-content">
              <h3>31团队</h3>
              <div class="channel4-team-img">
                <img src="../../../images/footerMenu/about/team.jpg" alt="">
                <p><span></span>管理团队</p>
              </div>
              <div class="channel4-team-introduce">
                <p>31员工团：我们大多为80后、90后年轻人，身体健康、心态阳光、热爱生活、个性张扬、积极主动、诚信负责，“诚信、创新、专业、高效”是我们对内对外的协作与服务原则。</p>
                <p>31管理团：高管团队均有多年企业服务背景，具备流程与大会、企业应用产品的经验，理解深（1厘米宽，1公里深），既懂会又懂IT。二次创业居多，专注、务实。</p>
              </div>
              <party></party>
              
              
              <div class="line-point"><span></span><img src="../../../images/footerMenu/service/point.png" alt=""></div>
            </div>
          </div>

          <div class="channel5">
            <div class="channel5-content">
              <h3>31荣誉</h3>
              <div class="channel5-honor">
                <ul>
                  <li>
                    <img src="../../../images/footerMenu/about/honor1.png" alt="">
                    <p>企业信用评价AAA级<br>最高信用评级</p>
                  </li>
                  <li>
                    <img src="../../../images/footerMenu/about/honor2.png" alt="">
                    <p>高新技术企业认定</p>
                  </li>
                  <li>
                    <img src="../../../images/footerMenu/about/honor3.png" alt="">
                    <p>被评为会议会展业<br>最具影响力企业</p>
                  </li>

                  <li>
                    <img src="../../../images/footerMenu/about/honor4.png" alt="">
                    <p>荣获上海市智慧城市建设<br>十大创新应用奖</p>
                  </li>
                  <li>
                    <img src="../../../images/footerMenu/about/honor5.png" alt="">
                    <p>荣获全国会展业金五星奖<br>优秀会展服务供应商</p>
                  </li>
                  <li>
                    <img src="../../../images/footerMenu/about/honor6.png" alt="">
                    <p>拥有20余项软件著作权</p>
                  </li>
                </ul>
              </div>
              <div class="line-point"><span></span><img src="../../../images/footerMenu/service/point.png" alt=""></div>
            </div>
          </div>

          <div class="channel6">
            <div class="channel6-content">
              <h3>联系我们</h3>
              <div class="channel6-map">
                <div class="city-list shanghai" @mouseenter="cityShow('shanghai')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>上海总部</span>
                  <img v-if="city.show=='shanghai'" src="../../../images/footerMenu/about/shanghai.png" alt="">
                </div>
                <div class="city-list beijing" @mouseenter="cityShow('beijing')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>北京</span>
                  <img v-if="city.show=='beijing'" src="../../../images/footerMenu/about/beijing.png" alt="">
                </div>
                <div class="city-list shenzhen" @mouseenter="cityShow('shenzhen')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>深圳</span>
                  <img v-if="city.show=='shenzhen'" src="../../../images/footerMenu/about/shenzhen.png" alt="">
                </div>

                <div class="city-list guangzhou" @mouseenter="cityShow('guangzhou')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>广州</span>
                  <img v-if="city.show=='guangzhou'" src="../../../images/footerMenu/about/guangzhou.png" alt="">
                </div>
                <div class="city-list wuhan" @mouseenter="cityShow('wuhan')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>武汉</span>
                  <img v-if="city.show=='wuhan'" src="../../../images/footerMenu/about/wuhan.png" alt="">
                </div>
                <div class="city-list chongqing" @mouseenter="cityShow('chongqing')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>重庆</span>
                  <img v-if="city.show=='chongqing'" src="../../../images/footerMenu/about/chongqing.png" alt="">
                </div>

                <div class="city-list chengdu" @mouseenter="cityShow('chengdu')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>成都</span>
                  <img v-if="city.show=='chengdu'" src="../../../images/footerMenu/about/chengdu.png" alt="">
                </div>
                <div class="city-list xian" @mouseenter="cityShow('xian')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>西安</span>
                  <img v-if="city.show=='xian'" src="../../../images/footerMenu/about/xian.png" alt="">
                </div>
                <div class="city-list zhuhai" @mouseenter="cityShow('zhuhai')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>珠海</span>
                  <img v-if="city.show=='zhuhai'" src="../../../images/footerMenu/about/zhuhai.png" alt="">
                </div>

                <div class="city-list xiamen" @mouseenter="cityShow('xiamen')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>厦门</span>
                  <img v-if="city.show=='xiamen'" src="../../../images/footerMenu/about/xiamen.png" alt="">
                </div>
                <div class="city-list suzhou" @mouseenter="cityShow('suzhou')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>苏州</span>
                  <img v-if="city.show=='suzhou'" src="../../../images/footerMenu/about/suzhou.png" alt="">
                </div>
                <div class="city-list zhengzhou" @mouseenter="cityShow('zhengzhou')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>郑州</span>
                  <img v-if="city.show=='zhengzhou'" src="../../../images/footerMenu/about/zhengzhou.png" alt="">
                </div>

                <div class="city-list tianjin" @mouseenter="cityShow('tianjin')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>天津</span>
                  <img v-if="city.show=='tianjin'" src="../../../images/footerMenu/about/tianjin.png" alt="">
                </div>
                <div class="city-list changsha" @mouseenter="cityShow('changsha')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>长沙</span>
                  <img v-if="city.show=='changsha'" src="../../../images/footerMenu/about/changsha.png" alt="">
                </div>
                <div class="city-list hangzhou" @mouseenter="cityShow('hangzhou')" @mouseleave="cityShow('0')">
                  <img src="../../../images/footerMenu/about/address.png" alt="">
                  <span>杭州</span>
                  <img v-if="city.show=='hangzhou'" src="../../../images/footerMenu/about/hangzhou.png" alt="">
                </div>
              </div>
              <div class="call-us">
                <p>31会议业务辐射全国，其他地区请拨打热线电话详细咨询：400-690-3131！</p>
                <div class="call-two-code">
                  <img src="../../../images/home/get_ticket_code.png" alt="">
                  <div class="call-two-code-right">
                    <h3>联系我们 | 400-690-3131</h3>
                    <p>市场合作：市场运营部 杨小姐</p>
                    <p>媒体报道：市场运营部 吴小姐</p>
                    <p>加入31：人力资源部 许小姐</p>
                    <p>供应商合作：服务部 吴先生</p>
                  </div>
                </div>
              </div>

              <div class="line-point"><span></span></div>
            </div>
          </div>

        </div>
      </div>
      <!--#####end#####-->
    </div>


    #include("../../../components/footer.html")
    #include("../../../components/loading.html")
  </div>
</body>
</html>