@import '../../../styles/mixin.scss';
.channel-three {
  border-left: 6px solid #EC8843!important;
}

.channel-three>a {
  color: #EC8843!important;
}
.channel-three>a:hover {
  color: #FFF!important;
}

.channel-three {
  background-image: url(../../../images/home/leftSideBarInteract.png);
}

.channel1{
  background-image: url(../../../images/interact/qianyue/Bitmap@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 330px;
  & .channel1-content{
    padding-top: 60px;
    text-align: center;
    h1{
      font-size: 38px; 
      color: #FFF;
    }
    h3{
      font-size: 18px;
      color: #FFF;
    }
    a{
      display: inline-block;
      margin-top: 20px;
      width: 170px;
      height: 45px;
      color: #fff;
      background: #057BFA;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }
    a:hover{
      color: #FFF;
    }
  }
}

.channel2{
  height: 330px;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1040px;
    margin: 0 auto;
    color: #000000;
    & .channel2-font{
      width: 100%;
      height: 72px;
      margin: 0 auto;
      & p{
        position: relative;
        color: #000;
        font-size: 18px;
        margin-bottom: 0px;
        line-height: 36px;
      }
    }
    & .channel2-img{   
      width: 1040px;
      height: 55px;
      margin: 0 auto;
      margin-top: 50px;
      & ul li{
        background: url(../../../images/interact/qianyue/Group27.png) no-repeat;
        margin-bottom: 10px;
        width: 240px;
        float: left;
        height: 60px;
        margin-right: 15px;
        &:nth-child(4){
          margin-right: 0px;
        }
        & span{
          display: inline-block;
          width: 227px;
          height: 50px;
          font-size: 16px;
          text-align: center;
          line-height: 50px;
        }
      }
    }
  }
}

.channel3{
  height: 560px;
  background-color: #f6f6f6;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1040px;
    margin: 0 auto;
    overflow: auto;
    & .channel3-font{
      margin-top: 150px;
      float: left;
      & h3{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      & p{
        position: relative;
        font-size: 14px;
        margin-left: 15px;
        line-height: 30px;
        margin-bottom: 0px;
        & span{
          position: absolute;
          display: inline-block;
          left: -15px;
          top: 14px;
          height: 4px;
          width: 4px;
          border-radius: 50%;
          background-color: #C5CBD0;
        }
      }
    }
    & .channel6-img{
      float: right;
    }
  }
}

.channel4{
  height: 915px;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1040px;
    margin: 0 auto;
    &>h3{
      margin-top: 0px;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #333333;
    }
    & .channel4-body{
      width: 1040px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      & .channel4-body-ul li{
        width: 494px;
        height: 337px;
        border: 1px solid #D8D8D8;
        float: left;
        margin-right: 17px;
        margin-bottom: 18px;
        background-color: #fff;
        & .channel4-body-ul-img{
          width: 100%;
          cursor: pointer;
        }
        & .channel4-body-ul-erweima{
          width: 494px;
          height: 276px;     
          position: absolute;
          cursor: pointer;
          background: rgba(0, 0, 0, 0.7);
          top: 0;
          & img{
            position: absolute;
            top: 50%;
            left: 50%; 
            margin-left: -49px;
            margin-top: -49px;
          }
          & p{
            text-align: center;
            margin-top: 195px; 
            font-size: 16px;
            color: #fff;
          }
        }
        & .channel4-body-ul-h3{
          font-size: 18px!important;
          padding-left: 20px;
          padding-right: 20px;
          color: #333;
        }
      }
    }
  }
}

.channel5{
  background-image: url(../../../images/interact/qianyue/shcj.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1040px;
    margin: 0 auto;
    overflow: auto;
    & .channel5-font{
      margin-top: 20px;
      margin: 0 auto;
      text-align: center;  
      & h3{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
        color: #fff;
      }  
      & p{
        position: relative;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

// 公司logo
.e-channel9{
  padding: 30px 0px 80px 0px;
  & .e-channel9-content{
    text-align: center;
    &>h3{
      font-size: 30px;
      font-weight: bold;
    }
    & .company-logo{
      width: 1075px; 
      margin: 0 auto;
      overflow: auto;
      & ul li{
        height: 130px;
        float: left;
        & .basic{
          display: inline-block;
          width: 0;
          height: 100%;
          vertical-align: middle;
        }
      } 
    }
  }
}

/*试用*/
.g-channel6{
    padding: 180px 0px 0px 55px;
    height: 600px;
    background: #f6f6f6;
    margin-bottom: -83px;
}
.g-channel6-imformation h3{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 18px;
}
.g-channel6-line{
    height: 1px;
    width: 200px;
    margin-bottom: 20px;
    background: #dedede;
}
.g-channel6-phone span{
    font-size: 16px;
}
.g-channel6-content{
    position: relative;
} 
.g-channel6-tryout{
    position: relative;
    width: 375px;
    box-shadow: 0 0 5px #cccccc;
    position: absolute;
    right: 140px;
    top: -250px;
    background: #fff;
}
.g-tryout-top{
    text-align: center;
    line-height: 60px;
    height: 60px;
    font-size: 22px;
    color: #fff;
    background: #07a1ff;
}