/*会议云侧边栏面包屑导航*/
.channel-two{
    border-left: 6px solid #9DBD43!important;
    /*background-color: #7FCEF2;*/
}
.channel-two>a{
    color: #9DBD43!important;
}
.channel-two>a:hover{
    color: #FFF!important;
}
.channel-two{ 
    background-image: url(../../../images/home/leftSideBarMeet.png);
}
.w-top-img{
    background:url(../../../images/meeting/website/w-banner.jpg) center center no-repeat;
    height: 330px;
    background-size: cover; 
}
.w-top-ad{
    padding-top: 60px;
    padding-left: 70px;
    text-align: left;  
    width: 100%;
    height: 100%;
    text-align: center;
}
.w-top-ad h4{
    text-align: center;
}
.w-title-1{
    font-size: 38px;
    color: #fff;
}
.w-title-2{
    font-size: 18px;
    color: #fff;
}
.w-top-ad a{
    display: inline-block;
    margin-top: 20px;
    width: 170px;
    height: 45px;
    color: #fff;
    background: #057BFA;
    /*border-radius: 5px;*/
    line-height: 45px;
    text-align: center; 
    text-decoration: none;
    font-size: 16px;
}
.w-top-ad a:hover{
    /*background: #F3830C;*/
    color: #FFF;
}
.w-channel1-text h3{
    font-size: 24px;
    line-height: 1.8;
    margin-top: 0;
}
.w-channel1-text h3,.w-channel2-text h3,.w-channel3-text h3,.w-channel4-text h3,
.e-channel9-content h3,.w-channel5-text h3{
    line-height: 40px;   
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
/*.active .w-channel1-text h3,.active .w-channel2-text h3,.active .w-channel3-text h3,.active .w-channel4-text h3,
.active .e-channel9-content h3,.active .w-channel5-text h3{
    opacity: 1;
    transform: scale(1,1);
    transition-delay: .5s;
}*/
/*.w-channel2-text ul,.w-channel3-text ul,.w-channel4-text ul{
    opacity: 0;
    -webkit-transform: scale(0, 0) rotateY(0deg);
    -ms-transform: scale(0, 0) rotateY(0deg);
    -o-transform: scale(0, 0) rotateY(0deg);
    transform: scale(0, 0) rotateY(0deg);
    -webkit-transition-property: opacity,transform;
    -o-transition-property: opacity,transform;
    transition-property: opacity,transform;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transition-timing-function: easp-out;
    -o-transition-timing-function: easp-out;
    transition-timing-function: easp-out;
}
.active .w-channel2-text ul,.active .w-channel3-text ul,.active .w-channel4-text ul{
    opacity: 1;
    -webkit-transform: scale(1, 1);  
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}*/
.w-channel2-content ul li,.w-channel3-content ul li,.w-channel4-content ul li{
    position: relative;
    margin-top: 10px;
    margin-left: 16px;
}
.w-channel2-content ul li span,.w-channel3-content ul li span,.w-channel4-content ul li span{
    position: absolute;
    top: 8px;
    left: -16px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #c5cbd0;
}
.w-channel {
  overflow: hidden;
  position: relative;
}
.w-top-img{
  position: absolute;
  width: 100%;
  top: 0px;
}
.w-channel1{
  position: absolute;
  width: 100%;
  height: auto;
  top: 420px;
}
.w-channel1-content{
  position: absolute;
  width: 100%;
}
.w-channel1-text{
  position: absolute;
  width: 380px;
  left: 60%;
  top: 100px;
  /*margin-left: -150px;*/
}
.w-channel1-img{
    position: absolute;
    right: 57%;
}
.w-channel1-img img{
    height: 50%;
}
.w-channel2{
    background-color: #f6f6f6;
}
.w-channel2-content{
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.w-channel2-text{
    position: absolute;
    top: 30%;
    width: 400px;
}
.w-channel2-img{
    position: absolute;
    height: 70%;
    top: 10%;
    right: 0;
    text-align: right;
}

.w-channel3-content{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.w-channel3-text{
    position: absolute;
    top: 20%;
    left: 64%;
    width: 400px;
}
.w-channel3-img{
    position: absolute;
}
.w-channel3-img{
    position: absolute;
    width: 90%;
    height: 53%;
    right: 12%;
    top: 20%;
}

.w-channel4{
    background-color: #f6f6f6;
}
.w-channel4-content{
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.w-channel4-text{
    position: absolute;
    top: 30%;
    width: 400px;
}
.w-channel4-img{
    position: absolute;
}
.w-channel4-img{
    position: absolute;
    height: 50%;
    left: 55%;
    top: 12%;
}

.w-channel4-img2{
    position: absolute;
    top: 120px;
    left: -35px;
}
.w-channel4-img3{
    position: absolute;
    top: 175px;
    left: 120px;
}
.w-channel4-img4{
    position: absolute;
    top: 170px;
    left: 315px;
}
.w-channel4-img5{
    position: absolute;
    top: 180px;
    left: 365px;
}
.w-channel5{
    background-image: url(../../../images/meeting/website/w-channel5-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.w-channel5{
    text-align: center;
}
.w-channel5-content{
    margin: 50px auto 0px;
    width: 90%;
}
.w-channel5-text h3{
    font-size: 30px;
    color: #fff;
    margin-bottom: 40px;
}
.w-channel5-img{
    width: 1050px;
    margin: 0 auto;
}
.w-channel5-img1{
    width: 500px;
    height: 330px;
    float: left;
    background-color: #fff; 
}
.w-channel5-img1:nth-child(1),.w-channel5-img1:nth-child(3){
    margin: 0px 50px 30px 0px;
}
.w-channel5-img1:nth-child(2),.w-channel5-img1:nth-child(4){
    margin: 0px 0px 30px 0px;
}
.w-channel5-img1 img{
    width: 100%;
}
.w-channel5-title{
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    position: relative;
}
.w-channel5-click{
    left: 290px;
    top: 12px;
    position: absolute;
    color: #fff;
    background-color: #0AA1E5;
}
.w-channel5-change{
    position: absolute;
    left: 390px;
    top: 12px;
}
.w-channel5-click:hover{
    color: #0AA1E5;
    background-color: #fff;
}
.w-channel5-change{
    color: #0AA1E5;
    background-color: #fff;
}
.w-channel5-change:hover{
    color: #fff;
    background-color: #0AA1E5;
}
.w-channel5-title a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #0AA1E5;
    border-radius: 4px;
    width: 90px;
    text-align: center;
    line-height: 30px;
    height: 30px;
}
/*@media only screen and (max-width:1366px){
    .w-channel5-img {
        width: 720px;
    }
    .w-channel5-img1:nth-child(1), .w-channel5-img1:nth-child(3) {
        margin: 0px 30px 20px 0px;
    }
    .w-channel5-img1:nth-child(2), .w-channel5-img1:nth-child(4) {
        margin: 0px 0px 20px 0px;
    }
    .w-channel5-img1 {
        width: 340px;
        height: 230px;
    }
    .w-channel5-text h3{
        font-size: 30px;
        color: #fff;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .w-channel5-title{
        height: 40px;
        line-height: 40px;
    }
    .w-channel5-title a{
        width: 70px;
    }
    .w-channel5-click{
        left: 184px;
        top: 5px;
    }
    .w-channel5-change{
        left: 260px;
        top: 5px;
    }
}*/

.e-channel9-content{
    text-align: center;
}
.company-logo{
    width: 1080px; 
    margin: 0 auto;
    overflow: auto;
}
.company-logo .basic{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.company-logo ul li{
    height: 130px;
    float: left;
}
/*试用*/
.g-channel6{
    background: #f6f6f6;
    /*margin-bottom: -83px;*/
}
.g-channel6-imformation h3{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 18px;
}
.g-channel6-line{
    height: 1px;
    width: 200px;
    margin-bottom: 20px;
    background: #dedede;
}
.g-channel6-phone span{
    font-size: 16px;
}
.g-channel6-content{
    position: relative;
}
.g-channel6-tryout{
    position: relative;
    width: 375px;
    box-shadow: 0 0 5px #cccccc;
    position: absolute;
    right: 140px;
    top: -250px;
    background: #fff;
}
.g-tryout-top{
    text-align: center;
    line-height: 60px;
    height: 60px;
    font-size: 22px;
    color: #fff;
    background: #07a1ff;
}
.g-tryout-input{
    padding: 30px;
}
.g-tryout-input input{
    width: 100%;
    height: 50px;
    font-size: 12px;
    margin-bottom: 25px;
    padding-top: 25px; 
    padding-bottom: 5px; 
    padding-left: 10px; 
    border: 1px solid #c5cbd0;
}
.g-tryout-info,.g-tryout-company{
    position: relative;
}
.g-tryout-info p,.g-tryout-company p{
    position: absolute;
    top: 15px;
    padding-left: 10px;
    color: #b1a6a6;
    font-size: 14px;
}
.g-tryout-info span{
    position: absolute;
    top: 15px;
    right: 10px;
    color: #ff0000;
    font-weight: 600;
    font-size: 12px;
}
.g-tryout-company{
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    height: 50px; 
}
.g-tryout-company i{
    position: absolute;
    color: #666666;
    z-index: 0;
    right: 10px;
    top: 20px;
}
.g-tryout-company select{
    width: 100%;
    height: 50px;
    border: 1px solid #c5cbd0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.select2-search__field{
    display: none;
}
.select2-selection{
    border: 1px solid #c5cbd0!important;
    height: 50px!important;
    border-radius: 0!important;
    padding-top: 10px!important;
}
.select2-selection__arrow{
    margin-top: 10px!important;
}
.g-tryout-submit{
    width: 140px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 16px;
    background: #07a1ff;
}
.g-tryout-submit:hover{
    background: #0086d7;
}
/*开始试用浮动层文本框提示*/
.tryoutInputFocus p{
    font-size:12px!important;   
    top: 10px!important;
}
.tryoutInputFocused p{
    color:#07a1ff!important;
}
.tryoutInputFocused input{
    border: 1px solid #07a1ff;
}
.tryoutInputError{
    border: 1px solid #ff0000!important;
}
/*提交成功后显示页面*/
.g-tryout-success{
    position: absolute;
    top: 60px;
    width: 100%;
}
.success-img{
    padding-top: 30px; 
    height: 210px;
    background: #fff;
    text-align: center;
}
.success-img h3{
    margin-top: 5px;
} 
.success-twoCode{
    padding-top: 30px;
    height: 220px;
    background: #f6f6f6;
    text-align: center;
}
.success-twoCode img{
    margin-bottom: 10px;
}
.footer-border{
    margin-top: 0px;
}


/*将底部提上来*/
.w-content{
    transition: all .5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
}
.ifFooter{
    transform: translateY(-544px);
    -moz-transform: translateY(-544px);
}

/*去除fullpage效果*/
.active{
    height: 900px;
}
.w-channel2{
    height: 600px;
}
.w-channel3{
    height: 600px;
}
.w-channel4{
    height: 600px;
}
.w-channel5{
    padding-top: 1px;
    height: 900px;
}
.e-channel9{
    height: 730px;
    padding: 30px 0px 0px 0px;
}
.g-channel6{
    height: 600px;
    padding: 180px 0px 0px 70px;
}
@media screen and (max-width: 1440px){
    .w-channel1-img{
        right: 37%;
    }
    .w-channel4-img{
        left: 39%; 
    }
}