<!--<div>1111</div>-->
<div class="footer-border"> 
    <div class="footer">
        <div class="footer-left"></div>
        <div class="footer-right">
            <div class="footer-link">
                <div class="footer-grid col-md-9">
                    <div class="col-sm-12 col-md-3">
                        <h3 class="link-title">新闻资讯</h3>
                        <ul class="link_list">
                            <li><a href="http://www.31huiyi.com/newslist/90/">31新闻</a></li>
                            <li><a href="http://corp.31huiyi.com/31event">31活动</a></li>
                            <li><a href="http://www.31huiyi.com/newslist/1/">专业观点</a></li>
                            <li><a href="http://mow.31huiyi.com/newslist/article/19106/">行业报告</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <h3 class="link-title">31合作</h3>
                        <ul class="link_list">
                            <li><a href="http://mall.31huiyi.com/market/cate?cate=会议科技">会务资源</a></li>
                            <li><a href="http://corp.31huiyi.com/home/about#contact">成为供应商</a></li>
                            <li><a href="http://corp.31huiyi.com/home/about#contact">市场合作</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <h3 class="link-title">下载中心</h3>
                        <ul class="link_list">
                            <li><a href="http://corp.31huiyi.com/download">APP下载</a></li>
                            <li><a href="http://corp.31huiyi.com/Tutorials">产品教程</a></li>
                            <li><a href="http://corp.31huiyi.com/CaseDownload">案例下载</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <h3 class="link-title">31会议</h3>
                        <ul class="link_list">
                            <li><a href="/static/corp/apps/footerMenu/about">关于我们</a></li>
                            <!--<li><a href="http://corp.31huiyi.com/Honor">企业荣誉</a></li>-->
                            <li><a href="/static/corp/apps/footerMenu/service">服务体系</a></li>
                            <li><a href="/static/corp/apps/footerMenu/Zxns">招贤纳士</a></li>
                            <li><a href="http://corp.31huiyi.com/home/Statement">免责声明</a></li>
                        </ul>
                    </div>
                    <div class="vertical-line"></div>
                </div>
                <div class="two-code col-sm-12 col-md-3">
                    <img src="../images/home/get_ticket_code.png" alt="">
                    <p>关注31公众号</p>
                    <p>咨询热线：400-690-3131</p>
                </div>       
                <div class="clearfix"></div>

                <bottom></bottom>
                <!--<div class="friend-links">
                    <div class="friend-links-content">
                        <dl class="friend-links-list">
                            <dt>友情链接</dt>
                            <dd>
                                <a href="http://www.shichangbu.com/" target="_blank">市场部网</a>  
                                <a href="http://www.0755hz.cn/" target="_blank">深圳会展中心</a>  
                                <a href="http://huiyi.docin.com/" target="_blank">豆丁网会议频道</a>  
                                <a href="http://www.cnzhantuan.com" target="_blank">展会网</a>  
                                <a href="http://www.gxexpo.com.cn/" target="_blank">广西会展网</a>  
                                <a href="http://www.showguide.cn" target="_blank">国际展会</a>  
                                <a href="http://www.lerongrong.com" target="_blank">会议酒店</a>  
                                <a href="http://www.1gjh.com/" target="_blank">广交会</a>  
                                <a href="http://www.hq88.com/ " target="_blank">华企商学院</a>  
                                <a href="http://expo.gongchang.com" target="_blank">世界工厂展会中心</a>  
                                <a href="http://cloud.zdnet.com.cn/meeting.shtml" target="_blank">至顶网会议频道</a>  
                                <a href="http://www.eventer.cn " target="_blank">大型活动策划</a>  
                                <a href="http://www.xiangjian.com" target="_blank">相见</a>  
                                <a href="http://www.fsmeeting.com/" target="_blank">视频会议软件</a>  
                                <a href="http://www.sinofastlane.com/" target="_blank">赛诺迅会展培训</a>  
                                <a href="http://www.liveuc.net/" target="_blank">视频会议</a>  
                                <a href="http://huichang.qunar.com/ " target="_blank">会议室预订</a>  
                                <a href="http://www.expo-today.com/" target="_blank">今日会展</a>  
                                <a href="http://www.ctsmice.com/" target="_blank">中旅会展</a>  
                                <a href="http://www.woyeeh.com/" target="_blank">喔耶</a>  
                                <a href="http://www.gzceia.com/" target="_blank">广州会展协会</a>  
                                <a href="http://www.51banhui.com/" target="_blank">蟠桃会</a>  
                                <a href="http://www.micehangzhou.com/   " target="_blank">杭州会奖旅游官网</a>  
                                <a href="http://meikevideo.com/event/annual-meeting?winzoom=1" target="_blank">年会视频制作</a>  
                                <a href="http://www.yunxi.tv/" target="_blank">云犀直播</a>       
                            </dd>
                        </dl>
                    </div>
                    <div class="clearfix"></div>
                </div> -->

            </div>
                
        </div>   
    </div>
    <div class="footer-aboutus">
        <div class="aboutus-container">
            <div class="aboutus-row">
                <div class="copyrights">
                    <div class="col-md-12">
                        <p class="footer-aboutus-left">
                            上海八彦图信息科技有限公司 版权所有 沪&copy;ICP10004253号-2<br />
                            免费热线:400-690-3131&nbsp;&nbsp;企业QQ:4006903131
                            <a href="javascript:;" style="color:#fff;"><img src="http://31img.ufile.ucloud.com.cn/ghs.png" border="0">沪公网安备 31011502002823号</a>
                        </p>
                        <p class="footer-aboutus-right">
                            <a href="http://si.trustutn.org/info?sn=387150310012474565053" target="_blank"> <img src="../images/home/copyright1.png" style="height:30px;"> </a>
                            <a id="___szfw_logo___" href="https://credit.szfw.org/CX20160628015781360369.html" target="_blank"><img src="http://icon.szfw.org/cert.png" border="0" style="height:30px;" /></a>
                            <a href="javascript:;"><img src="../images/home/copyright3.jpg" border="0" style="height:30px;" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>


 