<top-head></top-head> 
<div id="header" class="s-topbar">
    <div class="navigation">
        <a href="/static/corp/apps/home" class="logo-img"><img src="../images/home/logo.png" alt=""></a>  
        <div class="nav-left">
            <ul id="userinfo"> 
                <li><a href="http://sso.31huiyi.com/ssouserlogin/login?returl=http://31huiyi.com/" class="login"><span></span> 登录</a></li>
                <li><a href="http://sso.31huiyi.com/Register" class="register">注册</a></li>
                <li class="post_btn publish"><a href="http://event.31huiyi.com/create">免费发布</a></li>
                <li class="post_btn tryout"><a href="javascript:;" @click="function(){$root.$emit('toggleApplyModal', true)}">申请试用</a></li>              
            </ul>
        </div>         
        <div class="menu">                     
            <ul>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-link-1">新闻资讯</a>
                    <ul class="sub-menu">
                        <li><a href="/static/corp/apps/news/newslist">31新闻</a></li>
                        <li><a href="http://www.31huiyi.com/newslist/1/">专业观点</a></li>
                        <li><a href="http://mow.31huiyi.com/newslist/article/19106/">行业报告</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/static/corp/apps/cases">案例中心</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-link-3">下载中心</a>
                    <ul class="sub-menu">
                        <li><a href="http://corp.31huiyi.com/download">软件应用</a></li>
                        <li><a href="http://corp.31huiyi.com/Tutorials">产品教程</a></li>
                        <li><a href="http://corp.31huiyi.com/CaseDownload">案例下载</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://corp.31huiyi.com/partner">合作伙伴</a>
                </li>
                <!--<li>
                    <a href="javascript:;">31学院</a>
                </li>-->
                <li>
                    <a href="http://docs.31huiyi.com">帮助中心</a>
                </li>
            </ul>
        </div>
        <div class="more-nav">
            <a href="javascript:;"><span class="more-nav-round">...</span></a>
            <ul class="sub-menu more-nav-menu">
                <li><a href="http://mall.31huiyi.com/market/cate?cate=%E4%BC%9A%E8%AE%AE%E7%A7%91%E6%8A%80">产品中心</a></li>
                <li><a href="http://corp.31huiyi.com/partner">合作申请</a></li>
            </ul>
        </div>
    </div>
</div>                                                                                        
<!-- <div class="corp-sidebar"> -->
     <div class="center-left"> 
        <div class="nav-left-bg"></div>
        <div class="left-nav">
            <ul class="left-list">
                <span></span>
                <li class="channel-one channel">
                    <a href="javascript:;">客户<img src="../images/home/side_nav_icon_.png" alt=""></a>
                    <ul class='channel-one-menu channel-menu'>
                        <li><a href="/static/corp/apps/custom">公关会务</a></li>
                        <li><a href="/static/corp/apps/custom/operate.html">市场部</a></li>
                        <li><a href="/static/corp/apps/custom/learn.html">协会学会</a></li>
                        <li><a href="/static/corp/apps/custom/train.html">培训公司</a></li>
                        <li><a href="/static/corp/apps/custom/admin.html">行政人事</a></li>
                        <li><a href="/static/corp/apps/custom/show.html">展览公司</a></li>
                    </ul>
                </li>   
                <span></span>  
                <li class="channel-two channel">
                    <a href="javascript:;">会议云<img src="../images/home/side_nav_icon_.png" alt=""></a>
                    <div class='channel-two-menu channel-menu'>
                        <div class="popup-header">
                            <p><a href="javascript:;">一站式全流程数字会务</a></p>
                        </div>                       
                        <div>
                            <p class="popup"><a href="/static/corp/apps/solution"><img src="../images/home/icon_default.png" alt=""> 整体解决方案</a></p>
                        </div>
                        <div>
                            <p class="popup"><a href="javascript:;"><img src="../images/home/icon_default.png" alt=""> 注册</a></p>
                            <div class="menu-block">
                            <ul>
                                <li><a href="/static/corp/apps/enroll">注册报名系统</a></li>
                                <li><a href="/static/corp/apps/meeting/weihuiyi">会议微站</a></li>
                                <li><a href="/static/corp/apps/meeting/website">会议PC网站</a></li>
                                <li><a href="http://corp.31huiyi.com/extra/wxtuoguan">微信公众号开发</a></li>                             
                            </ul>  
                            </div>                       
                        </div>
                        <div>
                            <p class="popup"><a href="javascript:;"><img src="../images/home/icon_default.png" alt=""> 推广</a></p>
                            <div class="menu-block">
                            <ul>
                                <li><a href="/static/corp/apps/invitation">H5邀请函</a></li>
                                <li><a href="/static/corp/apps/poster">H5海报</a></li>                         
                            </ul>
                            </div>
                        </div>
                        <div>
                            <p class="popup"><a href="javascript:;"><img src="../images/home/icon_default.png" alt="">签到管理</a></p>
                            <div class="menu-block-4">
                            <ul>
                                <li><a href="http://corp_beta.31huiyi.com/signin">电子签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin?id=0">微信签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin?id=0">iPad/手机签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin?id=0">身份证签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin?id=0">RFID签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin/machine">闸机签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin?id=0">自助签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin?id=0">手环签到</a></li>
                                <li><a href="http://corp.31huiyi.com/signin?id=0">地毯签到</a></li>
                            </ul>  
                            </div>    
                        </div>
                        <div>
                            <p class="popup"><a href="javascript:;"><img src="../images/home/icon_default.png" alt=""> 数据管理</a></p>
                            <div class="menu-block">
                            <ul>
                                <li><a href="/2017/cfccloud/solution#9">数据报表</a></li>                      
                            </ul>  
                            </div>
                                                    
                        </div>
                    </div>
                </li>   
                <span></span>  
                <li class="channel-three channel">
                    <a href="javascript:;">互动云<img src="../images/home/side_nav_icon_.png" alt=""></a>
                    <div class="channel-three-menu channel-menu">
                        <div class="popup-header">
                            <p><a href="javascript:;">场景化跨屏互动平台</a></p>
                        </div>
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 震撼开幕</p>
                            <ul>
                                <li><a href="http://corp.31huiyi.com/logwall">3D互动墙</a></li>
                            </ul>
                        </div>
                        
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 现场互动</p>
                            <ul>
                                <li><a href="javascript:;">大屏聊天</a></li>
                                <li><a href="http://corp.31huiyi.com/dashang">打赏/众筹</a></li>
                            </ul>
                        </div>
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 幸运抽奖</p>
                            <ul>
                                <li><a href="javascript:;">滚动抽奖</a></li>
                                <li><a href="javascript:;">摇一摇抽奖</a></li>
                                <li><a href="javascript:;">数钱比赛</a></li>
                                <li><a href="javascript:;">疯狂抢礼</a></li>
                            </ul>
                        </div>
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 现金红包</p>
                            <ul>
                                <li><a href="javascript:;">天降红包</a></li>
                                <li><a href="http://corp.31huiyi.com/qyhongbao">定时摇红包</a></li>
                                <li><a href="http://corp.31huiyi.com/qyhongbao">企业红包</a></li>
                            </ul>
                        </div>
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 签约仪式</p>
                            <ul>
                                <li><a href="javascript:;">签约上墙</a></li>
                            </ul>
                        </div>
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 大屏订货</p>
                            <ul>
                                <li><a href="javascript:;">嗨订货</a></li>
                            </ul>
                        </div>
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 现场调查</p>
                            <ul>
                                <li><a href="javascript:;">投票调查</a></li>
                                <li><a href="javascript:;">评分</a></li>
                        
                            </ul>
                        </div>
                        
                        <div>
                            <p class="popup"><img src="../images/home/icon_default.png" alt=""> 其他</p>
                            <ul>
                                <li><a href="javascript:;">直播</a></li>
                                <li><a href="javascript:;">iBeacon互动</a></li>
                        
                            </ul>
                        </div>
                        
                    </div>

                    <!--<ul class='channel-three-menu channel-menu'>
                        <div class="popup-header">
                            <p><a href="/static/corp/apps/interact/index">场景化跨屏互动平台</a></p>
                        </div>
                        <li><a href="http://corp.31huiyi.com/wall?id=1">微信互动系统</a></li>
                        <li><a href="/static/corp/apps/interact/index#hongbao">天降红包</a></li>
                        <li><a href="/static/corp/apps/interact/index#choujiang">抽奖</a></li>
                        <li><a href="/static/corp/apps/interact/index#logwall">3D互动墙</a></li>
                        <li><a href="/static/corp/apps/interact/index#dashang">打赏系统</a></li>
                        <li><a href="/static/corp/apps/interact/index#xuyuan">许愿树</a></li>
                        <li><a href="/static/corp/apps/interact/index#dinghuo">嗨订货</a></li>
                        <li><a href="/static/corp/apps/interact/index#ibeacan">iBeacon互动</a></li>
                        <li><a href="/static/corp/apps/interact/index#qyhongbao">企业红包</a></li>
                        <li><a href="javascript:;">现场直播/点播</a></li>
                        <li><a href="http://corp.31huiyi.com/qyhongbao">定时摇红包</a></li>                    
                    </ul>-->
                </li>  
                <span></span>  
                <li class="channel-four channel">
                    <a href="/static/corp/apps/market">营销云 <img src="../images/home/side_nav_icon_.png" alt=""></a>
                    <ul class='channel-four-menu channel-menu'>
                        <div class="popup-header">
                            <p><a href="/static/corp/apps/market">营销自动化云端系统</a></p>
                        </div>
                        <li><a href="/static/corp/apps/market">全渠道营销集客</a></li>
                        <li><a href="/static/corp/apps/market">微信营销</a></li>
                        <li><a href="/static/corp/apps/market">多元化互动吸客</a></li>
                        <li><a href="/static/corp/apps/market">微站管理</a></li>
                        <li><a href="/static/corp/apps/market">一站式活动管理</a></li>
                        <li><a href="/static/corp/apps/market">会员管理</a></li>
                        <li><a href="/static/corp/apps/market">标签化潜客管理</a></li>
                        <li><a href="/static/corp/apps/market">分销管理</a></li>
                        <li><a href="/static/corp/apps/market">自动化潜客培训</a></li>
                        <li><a></a></li>
                        <li><a href="/static/corp/apps/market">可视化数据分析</a></li>
                    </ul>
                </li>   
                <span></span> 
                <li class="channel-five channel">
                    <a href="javascript:;">场景方案 <img src="../images/home/side_nav_icon_.png" alt=""></a>
                    <ul class='channel-five-menu channel-menu'>
                        <li><a href="/static/corp/apps/scene">中型活动</a></li>
                        <li><a href="http://corp.31huiyi.com/solution/annual">年会</a></li>
                        <li><a href="/static/corp/apps/scene/conference.html">大型会议</a></li>
                        <li><a href="/static/corp/apps/scene/trainMeet.html">培训会</a></li>
                        <li><a href="/static/corp/apps/scene/goods.html">订货会</a></li>
                        <li><a href="http://corp.31huiyi.com/solution/huizhan">展会</a></li>
                    </ul>
                </li> 
                <span></span>           
            </ul>
        </div>
     </div> 
<!-- </div> -->
