@import '../../../styles/mixin.scss';

.channel-three {
  border-left: 6px solid #EC8843!important;
  // background-color: #7FCEF2;
}

.channel-three>a {
  color: #EC8843!important;
}
.channel-three>a:hover {
  color: #FFF!important;
}

.channel-three {
  background-image: url(../../../images/home/leftSideBarInteract.png);
}

.channel1{
  background-image: url(../../../images/interact/dashang/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 330px;
  & .channel1-content{
    padding-top: 60px;
    text-align: center;
    h1{
      font-size: 38px; 
      color: #FFF;
    }
    h3{
      font-size: 18px;
      color: #FFF;
    }
    a{
      display: inline-block;
      margin-top: 20px;
      width: 170px;
      height: 45px;
      color: #fff;
      background: #057BFA;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
    }
    a:hover{
      color: #FFF;
    }
  }
}

.channel4-font,
.channel5-font,
.channel6-font,
.channel7-font{
  & h3{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  & p{
    font-size: 14px;
    color: #000000;
    line-height: 30px;
  }
}
      
.channel2{
  height: 500px;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1060px;
    margin: 0 auto;
    color: #000000;
    &>h3{
      margin-top: 0px;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 60px;
    }
    & .channel2-img{
      position: relative;
      overflow: hidden;
      & ul li{
        width: 350px;
        height: 290px;
        float: left;
        text-align: center;
        margin-right: 5px;
        &:nth-child(3){
          margin-right: 0px;
        }
        & p{
          font-size: 14px;
          margin-left: 15px;
          line-height: 20px;
          margin-bottom: 0px;
        }
        & img:nth-child(2){
          margin-top: 20px;
          margin-bottom: 15px;
        }
      }
      &>img{
        &:nth-child(2){
          position: absolute;
          top: 85px;
          left: 350px;
        }
        &:nth-child(3){
          position: absolute;
          top: 85px;
          left: 700px;
        }
      }
    }
  }
}

.channel3{
  height: 525px;
  background-color: #f6f6f6;
  padding: 50px 0px 0px 0px;
  &-content{
    width: 1060px;
    margin: 0 auto;
    &>h3{
      margin-top: 0px;
      font-size: 30px;
      margin-bottom: 50px;
      font-weight: bold;
    }
    & .channel3-font{
      overflow: hidden;
      & ul li{
        text-align: center;
        float: left;
        &:nth-child(1){
          margin-left: 120px;
        }
        &:nth-child(2){
          margin-left: 163px;
        }
        &:nth-child(3){
          margin-left: 179px;
        }
        & p{
          margin-top: 18px;
          margin-bottom: 18px;
        }
      }
    }
    & .channel3-img{
      margin: 0 auto;
      text-align: center;
      position: relative;
      & img{
        &:nth-child(2){
          position: absolute;
          top: 150px;
          left: 355px;
        }
        &:nth-child(3){
          position: absolute;
          top: 150px;
          left: 690px;
        }
      }
    }
  }
}

.channel4{
  height: 500px;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1060px;
    margin: 0 auto;
    overflow: hidden;
    &>h3{
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 60px;
    }
    & .channel4-img{
      & img{
        float: right;
      }
      & .channel4-font{
        margin-top: 50px;
        float: left;
      }
    }
  }
}

.channel5{
  background-color: #f6f6f6;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1060px;
    margin: 0 auto;
    overflow: hidden;
    & img{
      float: left;
    }
    & .channel5-font{
      margin-top: 120px;
      margin-right: 75px;
      float: right;
    }
  }
}

.channel6{
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1040px;
    margin: 0 auto;
    overflow: hidden;
    & img{
      float: right;
    }
    & .channel6-font{
      margin-top: 80px;
      float: left;
    }
  }
}

.channel7{
  background-color: #f6f6f6;
  padding: 50px 0px 50px 0px;
  &-content{
    width: 1060px;
    margin: 0 auto;
    overflow: hidden;
    & img{
      float: left;
    }
    & .channel7-font{
      margin-top: 40px;
      margin-right: 60px;
      float: right;
    }
  }
}

// @media screen and (min-width:1500px) and (max-width:1920px){
//   .channel2{
//     &-content{
//       width: 1216px;
//       & .channel2-img{
//         & ul li{
//           margin-right: 140px;
//         }
//       }
//     }
//   }
//   .channel3,
//   .channel4,
//   .channel5,
//   .channel6{
//     &-content{
//       width: 1240px;
//     }
//   }
// }

// 公司logo
.e-channel9{
  padding: 30px 0px 80px 0px;
  & .e-channel9-content{
    text-align: center;
    &>h3{
      font-size: 30px;
      font-weight: bold;
    }
    & .company-logo{
      width: 1080px; 
      margin: 0 auto;
      overflow: auto;
      & ul li{
        height: 130px;
        float: left;
        & .basic{
          display: inline-block;
          width: 0;
          height: 100%;
          vertical-align: middle;
        }
      } 
    }
  }
}

/*试用*/
.g-channel6{
    padding: 180px 0px 0px 55px;
    height: 600px;
    background: #f6f6f6;
    margin-bottom: -83px;
}
.g-channel6-imformation h3{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 18px;
}
.g-channel6-line{
    height: 1px;
    width: 200px;
    margin-bottom: 20px;
    background: #dedede;
}
.g-channel6-phone span{
    font-size: 16px;
}
.g-channel6-content{
    position: relative;
} 
.g-channel6-tryout{
    position: relative;
    width: 375px;
    box-shadow: 0 0 5px #cccccc;
    position: absolute;
    right: 140px;
    top: -250px;
    background: #fff;
}
.g-tryout-top{
    text-align: center;
    line-height: 60px;
    height: 60px;
    font-size: 22px;
    color: #fff;
    background: #07a1ff;
}